<div class=" div-sign-in text-center">
  <form action="/auth/signup-edit" method="POST" class="form-signin">
    <h1 class="h3 mb-3 font-weight-normal">Edit Account Details</h1>
    <label for="name" class="sr-only">Name:</label>
    <input id="name" type="text" name="name" class="form-control" value="{{user.name}}" placeholder="Name...">
    <label for="lastname" class="sr-only">Lastname:</label>
    <input id="lastname" type="text" name="lastname" class="form-control" value="{{user.lastname}}"
      placeholder="Lastname...">
    <label for="imageUrl" class="sr-only">Image Url:</label>
    <input id="imageUrl" type="url" name="imageUrl" class="form-control" value="{{user.imageUrl}}"
      placeholder="Image link...">
    <label for="age" class="sr-only">Age:</label>
    <input id="city" type="text" name="city" class="form-control" value="{{user.city}}" placeholder="Your city...">
    <label for="city" class="sr-only">City:</label>
    <input id="age" type="text" name="age" class="form-control" value="{{user.age}}" placeholder="Age...">
    <label for="textarea" class="sr-only">Bio:</label>
    <textarea rows="4" cols="50" class="form-control" value="{{user.bio}}"
      name="bio">Tell us about yourself...</textarea>

    {{!-- <select name="keyInt" class="custom-select" id="inputGroupSelect04">
      <option selected>What describes you...</option>
      <option value="sport">Sport</option>
      <option value="party">Party</option>
      <option value="casual">Casual</option>
      <option value="culture">Culture</option>
      <option value="nature">Nature</option>
      <option value="family">Family</option>
    </select> --}}

    <input type="checkbox" id="sport" name="sport">
    <label for="sport">Sport</label>
    <input type="checkbox" id="party" name="party">
    <label for="party">Party</label>
    <input type="checkbox" id="casual" name="casual">
    <label for="casual">Casual</label>
    <input type="checkbox" id="culture" name="culture">
    <label for="culture">Culture</label>
    <input type="checkbox" id="nature" name="nature">
    <label for="nature">Nature</label>
    <input type="checkbox" id="family" name="family">
    <label for="family">Family</label>

    {{#if message }}
    <div class=" error-message">{{ message }}</div>
    {{/if}}
    <button class="btn btn-lg btn-primary btn-block mt-3" type="submit">Edit </button>
  </form>
</div>