<div class=" div-sign-in text-center">
  <form action="/auth/signup-edit" method="POST" class="form-signin">
    <h1 class="h3 mb-3 font-weight-normal">Edit Account Details</h1>
    <label for="name" class="sr-only">Name:</label>
    <input id="name" type="text" name="name" class="form-control" value="{{user.name}}" placeholder="Name...">
    <label for="lastname" class="sr-only">Lastname:</label>
    <input id="lastname" type="text" name="lastname" class="form-control" value="{{user.lastname}}"
      placeholder="Lastname...">
    <label for="imageUrl" class="sr-only">Image Url:</label>
    <input id="imageUrl" type="url" name="imageUrl" class="form-control" value="{{user.imageUrl}}"
      placeholder="Image link...">
    <label for="age" class="sr-only">Age:</label>
    <input id="city" type="text" name="city" class="form-control" value="{{user.city}}" placeholder="Your city...">
    <label for="city" class="sr-only">City:</label>
    <input id="age" type="text" name="age" class="form-control" value="{{user.age}}" placeholder="Age...">
    <label for="textarea" class="sr-only">Bio:</label>
    <textarea rows="4" cols="50" class="form-control" value="{{user.bio}}"
      name="bio">Tell us about yourself...</textarea>
    {{#if message }}
    <div class=" error-message">{{ message }}</div>
    {{/if}}
    <button class="btn btn-lg btn-primary btn-block" type="submit">Edit </button>
  </form>
</div>