<div class="swipe-event-card" style="display: block;">
  <a href="/events/{{_id}}" style="text-decoration: none; color: white" >
  <div class="swipe-event-photo" style="display: block; background-image: url({{imageUrl}})">
    <div class="event-card-name text-align">{{name}}</div>
    <div class="event-card-description">{{description}}</div>
    <div class="event-card-id">event id: {{_id}}</div>
    <div class="event-card-creator">creator: {{creator.username}}</div>
  </div>
  </a>
</div>
