<div class="container mt-3">
  <div class="row justify-content-between">
    <div class="col-lg-5 col-md-12 bg-white d-flex flex-column shadow overflow-hidden">
      <div class=" d-flex justify-content-center">
        <img class="profile-photo p-1 m-5 rounded-circle shadow" src={{userInfo.imageUrl}} alt="">
      </div>
      <div class="row d-flex justify-content-center">
        <div class="">
          {{#each userInfo.keyInt }}
          <img class="mini-logo-img" src="/images/{{this}}.png" alt=""
            style="width:35px; height:35px; margin:20px; border-radius:50%; box-shadow:0 0 5px black">
          {{/each}}
        </div>
        <a href="/auth/signup-edit" class="btn btn-warning btn-sm btn-block mt-3 mx-3 mx-5">Edit Acc.
        </a>
        <a href="profile/delete" class="btn btn-danger btn-sm btn-block mx-3 mb-3 mx-5">Delete Acc.
        </a>
      </div>
    </div>
    <div class="col-lg-7 col-md-12 bg-white shadow overflow-hidden">
      <div class="mt-5 ml-2">
        <h2>{{userInfo.name}}, {{userInfo.age}}</h2>

      </div>
      <div class="mt-2 ml-2">
        <h6>{{userInfo.city}}</h6>
      </div>
      <hr>
      <div class="mt-4 ml-2">
        <p>{{userInfo.bio}}</p>
      </div>
    </div>
  </div>

</div>







<div class="container-fluid ">
  <div class="container bg-white shadow mt-3 py-2">

    <h1>My Events</h1>
  </div>
  <div class="container bg-white shadow mt-3">
    <div id="carouselExampleControls" class="carousel slide" data-keyboard="true" data-touch="true">
      <div class="carousel-inner">

        {{#each events}}
        {{#if @first}}
        <div class="carousel-item active rounded">
          {{else}}
          <div class="carousel-item rounded">
            {{/if}}
            <div class="row d-flex justify-content-center my-3">

              <div class="card text-white">
                <img class="card-img carousel-card-img" src={{imageUrl}} alt="Card image">
                <div class="card-img-overlay">
                  <div class="mt-5 ml-2">
                    <h3 class="card-title">{{name}}, {{date}}</h3>
                  </div>
                  <div class="mt-2 ml-2">
                    <h6 class="card-text">created by: {{creator.name}}</h6>
                  </div>
                  <div class="mt-4 ml-2">
                    <p class="card-text">{{description}}</p>
                  </div>
                  <div class="profile-buttons-div  d-flex justify-content-center ">
                    <div class="justify-content-center">
                      {{#if owner}}
                      <a href="/events/{{_id}}/edit" class="btn m-1 btn-warning">Edit</a>
                      <a href="/events/{{_id}}/delete" class="btn m-1 btn-danger">Delete</a>
                      {{/if}}
                      <a href="/events/{{_id}}/" class="btn m-1 btn-success">Event Detail</a>
                    </div>
                  </div>
                </div>
              </div>

            </div>
          </div>
          {{/each}}
        </div>
        <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
    </div>

  </div>