<div class="row py-5 px-4">
  <div class="col-xl-4 col-md-6 col-sm-10 mx-auto">

    <div class="bg-white shadow rounded overflow-hidden">
      <div class="px-4 pt-0 pb-4 bg-dark">
        <div class="media align-items-end profile-header">
          <div class="profile mr-3"><img src={{userInfo.imageUrl}} alt="..." width="130"
              class="rounded mb-2 img-thumbnail"><a href="/auth/signup-edit" class="btn btn-dark btn-sm btn-block">Edit
              profile</a>
            <a href="/auth/signup-edit" class="btn btn-dark btn-sm btn-block">Delete
              profile</a>
          </div>
          <div class="media-body mb-5 text-white">
            <h4 class="mt-0 mb-0">{{userInfo.name}}, {{userInfo.age}}</h4>
            <h6 class="mt-0 mb-0">Coder, Comedian</h6>
            <p class="small mb-4"> <i class="fa fa-map-marker mr-2"></i>Penang</p>
          </div>
        </div>
      </div>

      <div class="bg-light p-4 d-flex justify-content-end text-center">
        <ul class="list-inline mb-0">
          <li class="list-inline-item">
            <h5 class="font-weight-bold mb-0 d-block">31</h5><small class="text-muted"> <i
                class="fa fa-picture-o mr-1"></i>Events</small>
          </li>
          <li class="list-inline-item">
            <h5 class="font-weight-bold mb-0 d-block">3K</h5><small class="text-muted"> <i
                class="fa fa-user-circle-o mr-1"></i>Followers</small>
          </li>
        </ul>
      </div>

      <div class="py-4 px-4">
        <div class="d-flex align-items-center justify-content-between mb-3">
          <h5 class="mb-0">Recent events</h5><a href="#" class="btn btn-link text-muted">Show all</a>
        </div>
        <div class="row">
          <div class="col-lg-6 mb-2 pr-lg-1"><img url=({{imageUrl}}) alt="" class="img-fluid rounded shadow-sm"></div>

        </div>
        <div class="py-4">

          {{#each events}}


          {{!-- {{#ifCond userInfo._id "===" creator._id}}
          Values are equal!
          {{else}}
          Values are different!
          {{/ifCond}} --}}


          <h5 class="mb-3">{{name}}</h5>
          <div class="p-4 bg-light rounded shadow-sm">
            <img src={{imageUrl}} alt="" class="img-fluid rounded shadow-sm">
            <p class="font-italic mb-0">creator: {{creator.name}}</p>
            <ul class="list-inline small text-muted mt-3 mb-0">
              <li class="list-inline-item"><i class="fa fa-comment-o mr-2"></i>12 Comments</li>
              <li class="list-inline-item"><i class="fa fa-heart-o mr-2"></i>200 Likes</li>
            </ul>
            <a href="/events/{{_id}}/delete">Delete event</a>
            <a href="/events/{{_id}}/edit">Edit event</a>

          </div>
          {{/each}}
        </div>
      </div>
    </div>

  </div>
</div>




<div class="container">
  <div class="row">
    <div class="col-lg-4 col-md-12 p-3  bg-white shadow rounded overflow-hidden">
      <img class="img-thumbnail" src={{userInfo.imageUrl}} alt="">
      <div class="row">
        <div class="col-4">KEY INT</div>
        <div class="col-4">KEY INT</div>
        <div class="col-4">KEY INT</div>
        <a href="/auth/signup-edit" class="btn btn-dark btn-sm btn-block">Edit
          profile</a>
        <a href="/auth/signup-edit" class="btn btn-dark btn-sm btn-block">Delete
          profile</a>
      </div>
    </div>
    <div class="col-lg-8 col-md-12 p-3  bg-white shadow rounded overflow-hidden">
      <h1>{{userInfo.name}}, {{userInfo.age}}</h1>
      <h2>{{userInfo.city}}</h2>
      <p>{{userInfo.bio}}</p>
    </div>


  </div>


  <diw class="row">
    {{#each events}}
    <div class="col-lg-12 col-md-12 p-1 m-1 bg-white shadow rounded overflow-hidden"
      style="display: block; background-image: url({{imageUrl}})">
      <h1>{{name}}</h1>
      <p>{{description}}</p>
      <a href="/events/{{_id}}/delete">Delete event</a>
      <a href="/events/{{_id}}/edit">Edit event</a>
    </div>
    {{/each}}


  </diw>
</div>